{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href=" {% static 'main_app/css/styles.css'%}" />
    <title>Аутентификация</title>
    <style>
   * {
    margin: 0;
    padding: 0;
   }
   img {
       border-radius: 6px;
   }
  </style>

</head>
<body>
    <div class="body-container">
        <header class="site-header">
            <a href="Base.html"><img class="logo-icon" src="../../style/logo.png"/></a>
            <div class="right-buttons">
                <input class="search"type="text" id="search" placeholder="Поиск">
                <a href="UserProfile.html"><img class="user-icon" src="../../style/user.png" /></a>
            </div>
        </header>

    <main role="main" class="main-container">
            <div class="main-content">
                <div class="auth">
                    <p>ВХОД</p><br><br><br>
                    <form action="#">
                        <label for="username"></label>
                        <input type="text" id="username" placeholder="логин"><br><br>
                        <label for="form pass"></label>
                        <input type="password" id="form-pass" class="form-pass" placeholder="пароль">
                        <span class="pass-icon" id="pass-icon"><img src="../img/passeye.png" style="width:20px;height:20px"></span>

                    </form>
                    <br>
                    <br>
                    <a href="UserProfile.html" style="text-decoration: none;">
                    <div class="logbut">
                        <div class="button10">Войти</div>
                    </div>
                    </a>
                    <br>
                    <a href="registration.html">
                        <div class="button10">Зарегистрироваться</div>
                    </a>
                </div>
            </div>
            <script>
                const inputPass = document.getElementById('form-pass')
                const iconPass = document.getElementById('pass-icon')
                iconPass.addEventListener('click', () => {
                    if (inputPass.getAttribute('type') === "password") {
                        inputPass.setAttribute('type', 'text');
                    } else {
                        inputPass.setAttribute('type', 'password');
                    }
                });
            </script>



    </main>

    <div class="body-container">
        <footer class="site-footer">
            <div class="footer-content">
                Данный проект реализован в рамках предмета "Програмная инженерия" самой позитивной командой "TheD".
                При поддержке Скурского Степана Андреевича <br>
                <p style="margin-left: 2vw; margin-top: 1vh; font-size: 3vw;"><3</p>
            </div>
            <div class="footer-content">
                <p style="margin-bottom: 0.5vh; font-size: 1.9vw;"> Вот они слева направо: </p>
                • Григорий левин (Teamlead) <br>
                • Амосова Алина (Designer) <br>
                • Раскалиновский Владислав (Backend) <br>
                • Зубков Андрей (Frontend)
            </div>
        </footer>
    </div>
    </div>
</body>
</html>