{% extends 'main_app/osnova.html' %}
{% load static %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
            <div class="main-content">
                <div class="crutch"></div>
                <div class="showcase">
                    <a href="ListOfRecipes/" class="poster">
                        <img  class="anime-poster" src="{% static 'main_app/img/Soma.jpg' %}"/>
                        Повар боец Сома
                    </a>
                    <a href="ListOfRecipes/" class="poster">
                        <img class="anime-poster" src="{% static 'main_app/img/Naruto.jpg' %}"/>
                        Наруто
                    </a>
                    <a href="ListOfRecipes/" class="poster">
                        <img class="anime-poster" src="{% static 'main_app/img/Stone.webp' %}"/>
                        Доктор стоун
                    </a>
                    <a href="ListOfRecipes/" class="poster">
                        <img class="anime-poster" src="{% static 'main_app/img/Soma.jpg' %}"/>
                        Повар боец Сома
                    </a>
                    <a href="ListOfRecipes/" class="poster">
                        <img class="anime-poster" src="{% static 'main_app/img/Naruto.jpg' %}"/>
                        Наруто
                    </a>
                    <a href="ListOfRecipes/" class="poster">
                        <img class="anime-poster" src="{% static 'main_app/img/Stone.webp' %}"/>
                        Доктор стоун
                    </a>
                </div>
                </div>
    </div>
    </main>
{% endblock %}