{% extends 'main_app/osnova.html' %}
{% load static %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
        <div class="main-content" style="align-items: flex-start;">
            <p class="Head" style="font-size: 40px; padding-left: 30px;"> Рецепты: </p>
            <ol class="list">
                <a style="text-decoration: none;" href="../Recipe" class="line">
                    <img class="logo-icon" src="{% static 'main_app/img/ZeroTwo.jpg'%}"/>
                    <div class="description">
                        <p class="Head"> Жареный лёд</p>
                        Вкуснейший лёд
                    </div>
                </a>
                <a style="text-decoration: none;" href="../Recipe" class="line">
                    <img class="logo-icon" src="{% static 'main_app/img/ZeroTwo.jpg'%}"/>
                    <div class="description">
                        <p class="Head"> Жареный лёд</p>
                        Вкуснейший лёд
                    </div>
                </a>
                <a style="text-decoration: none;" href="../Recipe" class="line">
                    <img class="logo-icon" src="{% static 'main_app/img/ZeroTwo.jpg'%}"/>
                    <div class="description">
                        <p class="Head"> Жареный лёд</p>
                        Вкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёдВкуснейший лёд
                    </div>
                </a>
            </ol>
        </div>
    </main>
{% endblock %}