<!-- recipes_list.html -->
{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="main-content" style="align-items: flex-start;">
    <p class="Head" style="font-size: 40px; padding-left: 30px;">
        Рецепты:
    </p>
    <ul class="list">
        {% for p in recipes %}
        <li>
            <h1>{{ p.name }}</h1>
            <img src="{{ p.photo }}" alt="{{ p.name }} Photo">
            <p>{{ p.difficult }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
