{% extends 'main_app/osnova.html' %}
{% load static %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
        <div class="main-content">
            <div class="crutch"></div>
            <div class="head-recipe">
                Жареный лёд
                <img class="anime-poster" src="{% static 'main_app/img/Stone.webp' %}"/>
            </div>
            Ингредиенты:
            <ol class="list">
                1. Лёд
            </ol>
            Шаги приготовления:
            <ol class="list">
                1. Достаньте лёд из морозилки <br>
                2. Разогрейте сковороду<br>
                3. Выложите лёд<br>
                4. Жарьте до готовности<br>
                5. Красиво подайте
            </ol>
        </div>
    </main>
{% endblock %}