{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/styles.css' %}" />
    <title>Регистрация</title>
    <style>
   * {
    margin: 0;
    padding: 0;
   }
   img {
       border-radius: 6px;
   }
  </style>

</head>
<body>
    <div class="body-container">
        <header class="site-header">
            <a href="../"><img class="logo-icon" src="{% static 'main_app/img/logo.png'%}"/></a>
            <div class="right-buttons">
                <input class="search"type="text" id="search" placeholder="Поиск">
                <a href="UserProfile.html"><img class="user-icon" src="{% static 'main_app/img/user.png'%}" /></a>
            </div>
        </header>

    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
            <div class="main-content">
                <div class="auth">
                    <p>РЕГИСТРАЦИЯ</p><br><br><br>
                    <form action="#">
                        <label for="username"></label>
                        <input type="text" id="username" placeholder="логин"><br><br>
                        <label for="form pass"></label>
                        <input type="password" id="form-pass1" class="form-pass" placeholder="пароль"><br><br>
                        <input type="password" id="form-pass2" class="form-pass" placeholder="подтвердите пароль"><br>
                        <span class="pass-icon" id="pass-icon1"><img src="{% static 'main_app/img/passeye.png'%}" style="width:20px;height:20px"></span>

                    </form>
                    <br>
                    <br>
                    <a href="UserProfile.html">
                        <div class="button10">зарегистрироваться</div>
                    </a>
                </div>
            </div>
            <script>
                const inputPass = document.getElementById('form-pass1')
                const iconPass = document.getElementById('pass-icon1')
                iconPass.addEventListener('click', () => {
                    if (inputPass.getAttribute('type') === "password") {
                        inputPass.setAttribute('type', 'text');
                    } else {
                        inputPass.setAttribute('type', 'password');
                    }
                });
                const inputPass1 = document.getElementById('form-pass2')
                const iconPass1 = document.getElementById('pass-icon2')
                iconPass.addEventListener('click', () => {
                    if (inputPass1.getAttribute('type') === "password") {
                        inputPass1.setAttribute('type', 'text');
                    } else {
                        inputPass1.setAttribute('type', 'password');
                    }
                });
            </script>



    </main>

    <div class="body-container">
        <footer class="site-footer">
            <div class="footer-content">
                Данный проект реализован в рамках предмета "Програмная инженерия" самой позитивной командой "TheD".
                При поддержке Скурского Степана Андреевича <br>
                <p style="margin-left: 2vw; margin-top: 1vh; font-size: 3vw;"><3</p>
            </div>
            <div class="footer-content">
                <p style="margin-bottom: 0.5vh; font-size: 1.9vw;"> Вот они слева направо: </p>
                • Григорий левин (Teamlead) <br>
                • Амосова Алина (Designer) <br>
                • Раскалиновский Владислав (Backend) <br>
                • Зубков Андрей (Frontend)
            </div>
        </footer>
    </div>
    </div>
</body>
</html>