{% load static %}
<footer class="site-footer footer-color">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_us">
                    <p>При поддержке Роскосмоса:</p>
                    <ol class="developers">
                        <li><a href="">Левин Григорий</a></li>
                        <li><a href="">Раскалиновский Владислав</a></li>
                        <li><a href="">Зубков Андрей</a></li>
                        <li><a href="">Аммосова Алина</a></li>
                    </ol>
                </div>
               <h2>TheD</h2>
            </div>
        </div>
    </div>
</footer>
