body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #4A4E62;
}

.centered h2 {
    color: #FF9E9E;
    font-size: 40px;
}

p {
    color: #BBBBBB;
}

.centered {
    display: inline-block;
}

.centered img {
    width: 30vh;
    height: auto;
}