body {
    display: block;
    margin: 0px;
}

/* Шапка */
.site-header {
    background-color: #494E62;
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: space-between;
}

.site-header a img {
    width: auto;
    height: 35px;
}

.right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    height: 35px;
    width: 260px;
    border: none;
    border-radius: 8px;
    font-size: 20px
}

input {
    padding-left: 15px;
}

/* Основная структура */

.main-container {
    background-size: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    background: #FFC0CB;
    width: 1402px; 
    height: 1920px;
    align-self: center;
}

.error {
    color: red;
    font-size: 30px;
    margin: 10px 20px;
    font-size: 50%;
}

/* Подвал */
.site-footer {
    background-color: #494E62;
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: space-around;
}

.footer-content {
    padding: 20px;
    color: white;
    font-family: 'Verdana', serif;
    font-size: 30px;
    width: 40vw;
}

/* Профиль пользователя */
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 800px;
}

.profile-icon {
    border-radius: 50%;
    width: 600px;
    height: 600px;
}

.Nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    height: 20px;
    width: 600px;
    border-radius: 10px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 60px;
    padding: 40px;
}

.urls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    width: 1000px;
}

.url-box {
    background-color: #D3D3D3;
    border: none;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
    font-family: 'Arial';
    font-size: 50px;
}

.url-box:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 100px rgba(128, 125, 125, 0.5);
}

/* Основные */

.anime-poster {
    height: 450px;
    width: 300px;
    padding-bottom: 30px;
}

/* Аутентификация и регистрация */
.auth {
    background-size: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

.button10 {
    display: inline-block;
    font-size: 80%;
    border: none;
    font-family: cursive;
    text-decoration: none;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: .25em .5em;
    outline: none;
    border-radius: 7px;
    background: #D3D3D3;
    color: black;
}

.go {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button10:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(128, 125, 125, 0.5);
}

p {
    font-size: 40px;
    font-family: cursive;
    font-weight: 900;
}

.logbut {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margine-bottom: 20px
}

.login {
    width: 100%;
    margin-left: 100px;
}

.auth input {
    width: 70%;
    margin-bottom: 20px;
    user-select: none;
}

.form-control {
    width: 70%;
}

.auth input[type="text"], input[type="password"] {
    outline: none;
    background: transparent;
    border-radius: 7px;
    border-color: #565151;
    color: #380a0a;
    height: 40px;
    font-size: 25px;
}

.pass-icon {
    cursor: pointer;
}

.auth{
margin-top: 15px;
margin-bottom: 100px;
}



/* Рецепт */
.head-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding-bottom: 10vh;
}

.spisok {
    font-size: 1.5vw;
}

.line {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 1200px;
    border: 2px solid grey;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: 25px;
    color: black;
    overflow: hidden;
}

.Head {
    font-family: Arial;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: black;
}

@media (max-width: 1920px) {
    .head-recipe {
        font-size: 60px;
    }
}

@media (max-width: 800px) {
    .head-recipe {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
    .line {
        width: 96vw;
    }
    .Head {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .description {
        font-size: 15px;
    }
}


@media (max-width: 550px) {
    .crutch {
        width: 100vw;
    }
}

@media (max-width: 550px) {
    .button10 {
        font-size: 30px;
        padding: 20px;
    }
}

@media (max-width: 550px) {
    .profile-icon {
        width: 350px;
        height: 350px;
    }
    .user {
        height: 450px;
    }
    .Nickname {
        height: 15px;
        width: 320px;
        font-size: 35px;
    }
    .urls {
        margin-bottom: 40px;
        width: 100vw;
    }
    .url-box {
        font-size: 25px;
        padding: 20px;
    }
}

@media (max-width: 1920px) {
    .profile-icon {
        width: 400px;
        height: 400px;
    }
    .user {
        height: 550px;
    }
    .Nickname {
        height: 15px;
        width: 400px;
        font-size: 40px;
        padding: 30px;
    }
    .urls {
        margin-bottom: 90px;
        width: 800px;
    }
    .url-box {
        font-size: 35px;
        padding: 30px;
    }
}

@media (max-width: 550px) {
    .site-footer {
        height: 420px;
    }
    .footer-content {
        font-size: 20px;
    }
}

@media (max-width: 1920px) {
    .main-container {
        background-size: 20%;
    }
}

@media (max-width: 800px) {
    .main-container {
        background-size: 50%;
    }
}

@media (max-width: 550px) {
    .crutch {
        width: 100vw;
    }
}

@media (max-width: 800px) {
    .search {
        width: 250px;
    }
}

@media (max-width: 550px) {
    .crop {
        margin-left: 5vw;
    }
    .right-buttons {
        margin-right: 8vw;
    }
    .search {
        width: 58vw;
        margin-right: 3vw;
    }
}