{% extends 'main_app/osnova.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
        <div class="main-content">

            <div class="crutch"></div>

            <div class="auth">

                <p>Вход</p>

                <br>


                <form class="go" action="" method="post">
                    {% csrf_token %}
                    {% render_field form.username placeholder="Имя пользователя" %}<br>
                    {% render_field form.password placeholder="Пароль" type="password" %}<br>
                    <button class="button10" type="submit">Войти</button>
                    <a href="../register/">
                        <div class="button10">Зарегистрироваться</div>
                    </a>
                </form>
            </div>
        </div>
    </main>
{% endblock %}