{% extends 'users/osnova.html' %}
{% load static %}
{% block content %}
        <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
            <div class="main-content">
                <div class="crutch"></div>
                <div class="auth">
                    <p>ВХОД</p><br>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}<br>
                    <form class="go" method="post">
                        {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Логин"><br>
                        <label for="password"></label>
                        <input type="password" id="form-pass" name="pass" class="form-pass" placeholder="Пароль">
                        <span class="pass-icon" id="pass-icon"><img src="{% static 'main_app/img/passeye.png'%}" style="width:20px;height:20px"></span>


                        <br>
<div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
                        <button class="button10" type="submit">Войти</button>
                    </form>
                    </a>
                    <br>
                    <a href="../register">
                        <div class="button10">Зарегистрироваться</div>
                    </a>
                </div>
            </div>
            <script>
                const inputPass = document.getElementById('form-pass')
                const iconPass = document.getElementById('pass-icon')
                iconPass.addEventListener('click', () => {
                    if (inputPass.getAttribute('type') === "password") {
                        inputPass.setAttribute('type', 'text');
                    } else {
                        inputPass.setAttribute('type', 'password');
                    }
                });
            </script>



    </main>
{% endblock %}