{% extends 'users/osnova.html' %}
{% load static %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
            <div class="main-content">
                <div class="crutch"></div>
                <div class="auth">
                    <p>РЕГИСТРАЦИЯ</p><br><br>
                    <form class="go" action="" method="post">
                        {% csrf_token %}
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Логин"><br>
                        <input type="text" id="email" name = "email" placeholder="Почта"><br>
                        <label for="form pass"></label>
                        <input type="password" id="form-pass1" name="password1" class="form-pass" placeholder="Пароль"><br>
                        <input type="password" id="form-pass2" name="password2" class="form-pass" placeholder="Подтвердите пароль">
                        <span class="pass-icon" id="pass-icon1"><img src="{% static 'main_app/img/passeye.png'%}" style="width:20px;height:20px"></span>

                    <button class="button10" type="submit">Зарегистрироваться</button>
                    </a>
                    </form>
                </div>
            </div>
            <script>
                const inputPass = document.getElementById('form-pass1')
                const iconPass = document.getElementById('pass-icon1')
                iconPass.addEventListener('click', () => {
                    if (inputPass.getAttribute('type') === "password") {
                        inputPass.setAttribute('type', 'text');
                    } else {
                        inputPass.setAttribute('type', 'password');
                    }
                });
                const inputPass1 = document.getElementById('form-pass2')
                const iconPass1 = document.getElementById('pass-icon2')
                iconPass.addEventListener('click', () => {
                    if (inputPass1.getAttribute('type') === "password") {
                        inputPass1.setAttribute('type', 'text');
                    } else {
                        inputPass1.setAttribute('type', 'password');
                    }
                });
            </script>


    </main>
{% endblock %}