{% extends "main_app/osnova.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <legend class="border-bottom mb-4">Профиль:</legend>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media">
            {% if user.username == form.instance.username %}
                <input id="id_image" type="file" name="image" hidden/>
                    <label for="id_image">
                        <img class="rounded-circle account-img profile-image"
                            style="cursor: pointer"
                            src="{{ form.instance.image.url }}"
                            title="Загрузить картинку">
                    </label>
            {% else %}
                <img class="rounded-circle account-img profile-image", src="{{ form.instance.image.url }}">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ form.instance.username }}
                    <small class="text-muted">({{ form.instance.status }})</small>
                </h2>
                <p class="text-secondary">{{ form.instance.email }}</p>
                <p class="text-secondary">{{ form.instance.description }}</p>
            </div>
        </div>

        {% if user.username == form.instance.username %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Редактировать профиль</legend>
                {{ form.email|as_crispy_field }}
                {{ form.description|as_crispy_field }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                <a class="url-box" href="../logout">Выйти из профиля</a>
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}