{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
    <main role="main" class="main-container" style="background-image: url({% static 'main_app/img/Background.jpg' %})" >
        <div class="main-content">
            <div class="user">
                <img class="profile-icon" draggable="false" src="{% static 'main_app/img/ZeroTwo.jpg'%}" />
                <div class="Nickname">ZeroTwoBestWaifu</div>
            </div>
            <div class="urls">
                <a class="url-box" href="">Мои рецепты</a>
                <a class="url-box" href="">Избранное</a>
            </div>
            <a class="url-box" href="../logout" style="background-color: #FFC0CB">Выйти из профиля</a>
        </div>
    </main>
{% endblock %}